/* 
	A couple styles to make the demo page look good
 */
.card-header {
	background-color: #000000;
	border-bottom: 1px solid rgb(255 0 0 / 50%);
}

.card {
	background-color: #2c2c2c;
	border: 1px solid rgb(255 0 0 / 50%);
	color: #FFFFFF;
}

body,
td,
th {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #CCC;
	/* padding-bottom: 1rem; */
	padding-top: 2rem;
}

body {
	background-color: #000;
}

a:link {
	color: #F00;
}

a:visited {
	color: #C00;
}

a:hover {
	color: #F33;
}

a:active {
	color: #F63;
}

input[type="text"],
textarea {

	background-color: #cccccc;

}

select.chooser {
	border: 0 !important;
	/*Removes border*/
	-webkit-appearance: none;
	/*Removes default chrome and safari style*/
	-moz-appearance: none;
	/* Removes Default Firefox style*/
	background: #696969 url(select-arrow.png) no-repeat 90% center;
	width: 160px;
	/*Width of select dropdown to give space for arrow image*/
	text-indent: 0.01px;
	/* Removes default arrow from firefox*/
	text-overflow: "";
	/*Removes default arrow from firefox*/
	/*My custom style for fonts*/
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 15px;
	padding: 5px;
	box-shadow: inset 0 0 5px rgba(000, 000, 000, 0.5);
}

select.balck {
	background-color: #000;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
}

.row {
	margin-bottom: 1rem;
}

[class*="col-"] {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

hr {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#files {
	overflow-y: scroll !important;
	min-height: 320px;
}

@media (min-width: 768px) {
	#files {
		min-height: 0;
	}
}

#debug {
	overflow-y: scroll !important;
	height: 180px;
}

.dm-uploader {
	border: 0.1rem dashed rgb(255 0 0 / 50%);
	text-align: center;
}

.dm-uploader.active {
	border-color: red;
	border-style: solid;
}

.list-group-item {
	background-color: rgb(0, 0, 0);
	border: 1px solid rgb(255 0 0 / 50%);
}

.text-info {
	color: #ff0000 !important;
}

.btn-primary {
	color: rgb(204, 204, 204);
	background-color: #2c2c2c;
	border-color: #ff0000;
	font-size: small;
}

.scrollable-element {
	scrollbar-color: red yellow;
}

/* Progress Modal Styles */
#progress-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	border: 1px solid red;
	z-index: 10000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.progress-container {
	background: white;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
}

.progress-bar-wrapper {
	width: 100%;
	height: 20px;
	background: #ddd;
	margin: 10px 0;
	border-radius: 10px;
	overflow: hidden;
}

.progress-bar {
	height: 100%;
	background: green;
	width: 0%;
	transition: width 0.4s;
}

primary:focus {
	box-shadow: 0 0 0 .2rem rgb(243 0 0 / 50%);
}

#process-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	z-index: 10000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.process-container {
	background: black;
	border: 1px solid red;
	padding: 20px;
	border-radius: 0px;
	text-align: center;
	width: 50%;
	color: grey;
}

.process-bar-wrapper {
	width: 100%;
	height: 20px;
	background: #ddd;
	margin: 10px 0;
	border-radius: 0px;
	overflow: hidden;
}

.process-bar {
	height: 100%;
	background: green;
	width: 0%;
	transition: width 0.4s;
}

#process-text {
	font-size: 18px;
	margin-top: 10px;
	color: red;
}

.btn-primary:hover {
	color: #d9d9d9;
	background-color: #040404;
	border-color: #ff0000;
}

.btn-primary:active {
	color: #ffffff;
	background-color: #181818;
	border-color: #ff0000;
}

.btn:focus {
	outline: 0;
	box-shadow: 0 0 0 .2rem rgb(191 0 0 / 25%);
}