/.idea/
/vendor/
/node_modules/
/logs/
/incoming/
/admin/incoming/
/pay/*.csv
/photos/
.env
.env.local
.DS_Store
*.log
composer.lock
/.vscode/
*.cache
/.cache/
/.sass-cache/
thumbs.db
/.phpunit.result.cache
/.coverage
.sass-cache
coverage/
.env.*
/*.sql
uploads/
assets/100*.txt
.history/
/.history
.vagrant/
.gemini/
categories.txt
composer.lock
usps_token_cache.txt
/.archive/
*.zip
/photos/
/logs/
/admin/*.json
archive/
vs/
/vs/
**/vs/
admin/vs/
