/* Base Styles */
body {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #000;
    color: #999;
    margin: 0;
    padding: 0;
}

/* Text Styling */
h1, h4 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 8px;
    background: #000;
}
::-webkit-scrollbar-button {
    width: 8px;
    height: 5px;
    background: #000;
}
::-webkit-scrollbar-track {
    background: #000;
    border: thin solid black;
    box-shadow: 0px 0px 1px #000 inset;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #999;
    border: thin solid black;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #74B8F1;
}

/* Container for the Gallery */
.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    background-color: #fff;
    border: 25px solid black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* Grid Layout for Images */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    width: 100%;
    padding: 10px;
    justify-content: center;
}

/* Individual Image Wrapper */
.image-wrapper {
    overflow: hidden;
    border: 10px solid #fff;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.image-wrapper:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
}

/* Images */
.image-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Pagination */
.pagination {
    margin: 20px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination a {
    text-decoration: none;
    color: #999;
    font-size: 18px;
    padding: 5px 10px;
    border: 2px solid #999;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.pagination a:hover, .pagination a.active {
    background-color: #999;
    color: #000;
    border-color: #fff;
}

.qr-container {
    text-align: center;
    margin-top: 20px;
}

.qr-code {
    animation: pulse 2s infinite;
}

.qr-text {
    color: #fff;
    margin-top: 10px;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    }
    70% {
        box-shadow: 0 0 0 20px rgba(255, 0, 0, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}
